#cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-content: center;
  padding-left: 10px;
}

p {
  font-size: 20px;
  color: brown;
}

.titulo {
  font-size: 10px;
  color: brown;
}
